*{  
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

.whatsapp{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../img/bg-header.png);
    background-size: cover;
}

header nav{   
    width: 65%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav ul a{
    color: #fff;
    font-size: 24px;
    padding: 8px 12px;
    margin: 0 20px;
    text-decoration: none;
}

#hero{
    text-align: center;
    padding-top: 220px;
}

#hero h2{
    font-size: 50px;
    color: yellow;
}

#hero h1{
    color: #fff;
    font-size: 30px;
}

#hero button{
    font-size: 30px;
    padding: 10px 26px;
    background: yellow;
    color: #666;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 240px;
}

#planes{
    width: 100%;
    background: #fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

#planes h2{
    font-size: 50px;
    margin-bottom: 60px;
}

#planes p{
    font-size: 22px;
    color: #000;
}

#planes .fila{
    display: flex;
    width: 70%;
    margin: 0% auto;
    justify-content: space-around;
    margin-top: 70px;
}

#planes .col-plan{
    position: relative;
    z-index: 1;
}

#planes .col-plan h3{
    position: absolute;
    top: 100px;
    z-index: 3;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    top: 110px;
    color: yellow;
}

#destinos{
    width: 100%;
    text-align: center;
    background: url(../img/bg-destinos.png);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 60px;
}

#destinos h2{
    color: yellow;
    font-size: 50px;
    margin-bottom: 80px;
}

#destinos .fila{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}

#destinos h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 80px;
}